<ion-header>

    <ion-navbar>
        <ion-title>Partidos</ion-title>
    </ion-navbar>
    <ion-item no-lines class="tit">
        <h3 text-center>
            Listado de partidos
        </h3>
    </ion-item>
</ion-header>
<ion-content class="inicio">
    <ion-list class="lista">


        <button text-center ion-item no-lines *ngFor="let p of partido  | async" class="btn" (click)="itemTapped($event, p)">
            <!--<p text-center class="fecha">
                {{p.datetime}}
            </p>-->
            <img src="../../assets/imgs/Banderas/{{p.home_team.country}}.png" alt="Imagen del equipo" width="30" height="15"> {{p.home_team.code}} {{p.home_team.goals}} - {{p.away_team.goals}} {{p.away_team.code}}
            <img src="../../assets/imgs/Banderas/{{p.away_team.country}}.png" alt="Imagen del equipo" width="30" height="15">
            <p text-center class="estado" *ngIf=" p.status == 'completed'">Terminado</p>
            <p text-center class = "estado" *ngIf=" p.status != 'completed'">No Terminado</p>
        </button>
       
    </ion-list>
</ion-content>