page-clasificacion-details {
    .inicio{

        background-image: url("../../assets/imgs/mundial.jpg");
        background-repeat:no-repeat;
        background-position:center center;
        background-attachment:fixed;
        -o-background-size: 100% 100%, auto;
        -moz-background-size: 100% 100%, auto;
        -webkit-background-size: 100% 100%, auto;
        background-size: 100% 100%, auto;
    }
    .lista{
        margin-top: 6em;
        margin-left: 2em;
        margin-right: 2em;
       
    }
    .bot{
        background-color: rgba(4, 52, 178,0.7);
        color: white;
    }
    .tit{
        color: white;
        background-color: black;
        opacity: 0.8;

    }
}
