<!--
  Generated template for the ClasificacionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Clasificacion</ion-title>
  </ion-navbar>
  <!--<div class="rp">
    <img src="../../assets/imgs/mundial.jpg" alt="Imagen del equipo" width="60" height="30" class="img"> Clasificacion
  </div>-->

</ion-header>

<ion-content class="inicio">
  <!-- <ion-content>
  <ion-item-group>
    <ion-item-divider color="light">A</ion-item-divider>
    <ion-item>Angola</ion-item>
    <ion-item>Argentina</ion-item>
  </ion-item-group>
</ion-content>-->
  <ion-list class="lista">
    <ion-item class="tit">
      Grupo A
    </ion-item>
    <div *ngFor="let e of equipoA">
      <button ion-item no-lines *ngIf=" e.group_id == 1" (click)="itemTapped($event, e)" class="bot">
        <img src="../../assets/imgs/Banderas/{{e.country}}.png" alt="Imagen del equipo" width="30" height="15"> {{e.country}}  -- {{e.points}} puntos.

      </button>

    </div>
    <br>
    <ion-item class="tit">
      Grupo B
    </ion-item>
    <div *ngFor="let e of equipoA ">
      <button ion-item no-lines *ngIf=" e.group_id == 2" (click)="itemTapped($event, e)" class="bot">
        <img src="../../assets/imgs/Banderas/{{e.country}}.png" alt="Imagen del equipo" width="30" height="15"> {{e.country}} -- {{e.points}} puntos.

      </button>
    </div>
    <br>
    <ion-item class="tit">
      Grupo C
    </ion-item>
    <div *ngFor="let e of equipoA ">
      <button ion-item no-lines *ngIf=" e.group_id == 3" (click)="itemTapped($event, e)" class="bot">
        <img src="../../assets/imgs/Banderas/{{e.country}}.png" alt="Imagen del equipo" width="30" height="15"> {{e.country}} -- {{e.points}} puntos.

      </button>
    </div>
    <br>
    <ion-item class="tit">
      Grupo D
    </ion-item>
    <div *ngFor="let e of equipoA ">
      <button ion-item no-lines *ngIf=" e.group_id == 4" (click)="itemTapped($event, e)" class="bot">
        <img src="../../assets/imgs/Banderas/{{e.country}}.png" alt="Imagen del equipo" width="30" height="15"> {{e.country}} -- {{e.points}} puntos.

      </button>
    </div>
    <br>
    <ion-item class="tit">
      Grupo E
    </ion-item>
    <div *ngFor="let e of equipoA ">
      <button ion-item no-lines *ngIf=" e.group_id == 5" (click)="itemTapped($event, e)" class="bot">
        <img src="../../assets/imgs/Banderas/{{e.country}}.png" alt="Imagen del equipo" width="30" height="15"> {{e.country}} -- {{e.points}} puntos.

      </button>
    </div>
    <br>
    <ion-item class="tit">
      Grupo F
    </ion-item>
    <div *ngFor="let e of equipoA  ">
      <button ion-item no-lines *ngIf=" e.group_id == 6" (click)="itemTapped($event, e)" class="bot">
        <img src="../../assets/imgs/Banderas/{{e.country}}.png" alt="Imagen del equipo" width="30" height="15"> {{e.country}} -- {{e.points}} puntos.

      </button>
    </div>
    <br>



    <!-- <ion-item-group *ngIf="equipo.group_id == 1">
          <ion-item-divider>A</ion-item-divider>
          <ion-card (click)="itemTapped($event)">
              <img src="../../assets/imgs/Banderas/{{equipo.country}}.png" alt="Imagen del equipo" width="30" height="15">
              <p text-center class="card-title"> {{equipo.country}}</p>
          </ion-card>
    </ion-item-group>-->




  </ion-list>
</ion-content>